[submodule "First-flight/Weather Witness/2025-05-weather-witness"]
	path = First-flight/Weather Witness/2025-05-weather-witness
	url = https://github.com/CodeHawks-Contests/2025-05-weather-witness.git
